@use "../abstracts" as *;

@mixin button {
  padding: 0px to-rem(16px);
  border-radius: 4px;
  background-color: gtkalpha($surface1, 0.6);
  color: $text;
  transition: all 200ms ease;
  border: none;
  // Change the spacing between buttons horizontally.
  margin: 0 to-rem(4px);

  &:hover {
    background-color: gtkalpha($surface2, 0.8);
  }

  icon {
    font-size: to-rem(12px);
    color: inherit;
  }

  label {
    color: inherit;
    font-size: to-rem(12px);
  }
}
